.mainh1 {
  /*This is how we select an element by class */
  font-size: 48px;
}

#something {
  /* this is how we select an element by ID*/
}

p:hover {
  color: pink;
}

a:link {
  font-style: oblique;

}

a:visited{

}
